In [1]:
# import relevant libraries to work in
# matplotlib and seaborn for plots & visualizations
# datetime for data type conversion
# sklearn for linear regression and other types of models

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from datetime import timedelta
from sklearn.linear_model import LinearRegression
import plotly.figure_factory as ff
import plotly.express as px
import plotly.graph_objects as go

In [2]:
# Inspect the first dataframe
data_2023 = pd.read_csv('https://raw.githubusercontent.com/Tinashe-04/H1B-data/main/data/h1b_datahubexport-2023.csv')
data_2023

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2023,NaN,1,0,0,0,51,8070.0,DE,WILMINGTON,19801.0
1,2023,0965688 BC LTD DBA PROCOGIA,0,0,1,0,51,209.0,WA,SEATTLE,98101.0
2,2023,1 800 CONTACTS INC,0,0,1,0,42,1643.0,NaN,NaN,NaN
3,2023,1 800 CONTACTS INC,0,0,1,0,42,1643.0,UT,DRAPER,84020.0
4,2023,1 800 FLOWERS COM INC,0,0,2,0,45,7311.0,NY,JERICHO,11753.0
...,...,...,...,...,...,...,...,...,...,...,...
33327,2023,ZYMEBALANZ LLC,2,0,0,0,51,927.0,CA,SAN CARLOS,94070.0
33328,2023,ZYMO SOLUTIONS LLC,2,0,1,0,54,3743.0,VA,HERNDON,20170.0
33329,2023,ZYNGA INC,1,0,2,0,51,3483.0,CA,SAN FRANCISCO,94103.0
33330,2023,ZYNGA INC,0,0,6,0,51,3483.0,CA,SAN MATEO,94403.0
33331,2023,ZYNO MEDICAL LLC,0,0,1,1,33,7390.0,MA,NATICK,1760.0

In [3]:
data_2023.columns

Index(['Fiscal Year', 'Employer', 'Initial Approval', 'Initial Denial',
       'Continuing Approval', 'Continuing Denial', 'NAICS', 'Tax ID', 'State',
       'City', 'ZIP'],
      dtype='object')

In [4]:
data_2023.dtypes

Fiscal Year              int64
Employer                object
Initial Approval         int64
Initial Denial           int64
Continuing Approval      int64
Continuing Denial        int64
NAICS                    int64
Tax ID                 float64
State                   object
City                    object
ZIP                    float64
dtype: object